@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #eee;
  color: #eee;
  font-family: "Space Mono", "Courier New", Courier, monospace;
}

.flex-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.styleCard {
  max-width: 80%;
  background-color: #2d2d2d;
  -webkit-box-shadow: 25px 25px 0px 0px rgba(142,142,142,1);
  -moz-box-shadow: 25px 25px 0px 0px rgba(142,142,142,1);
  box-shadow: 25px 25px 0px 0px rgba(142,142,142,1);
}

.quote {
  margin-bottom: 30px;
  text-align: center;
}

#text {
  font-size: 32px;
}
#author {
  font-size: 20px;
  font-style: italic;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  #text {
  font-size: 20px;
}
  #author {
    font-size: 16px;
  }
  
  .btn {
    font-size: 14px;
  }
  
  .styleCard {
    max-width: 100%;
    background-color: #2d2d2d;
    -webkit-box-shadow: 0px 25px 0px 0px rgba(142,142,142,1);
    -moz-box-shadow: 0px 25px 0px 0px rgba(142,142,142,1);
    box-shadow: 0px 25px 0px 0px rgba(142,142,142,1);
  }
}
